<div class="loginBackground">
    <div class="progressContainer">
        <ul class="progress">
            <li class="active">Language</li>
            <li>Login data</li>
            <li>Address</li>
            <li>Agreements</li>
        </ul>
    </div>
    <p class="register-title">Please enter your e-mail and password
    </p>
    <form>
        <div class="form__div">
            <input type="text" class="form__input" placeholder=" ">
            <label for="" class="form__label">E-mail</label>
        </div>

        <div class="form__div">
            <input type="password" class="form__input" placeholder=" ">
            <label for="" class="form__label">Password</label>
        </div>

        <div class="form__div">
            <input type="password" class="form__input" placeholder=" ">
            <label for="" class="form__label">Repeat password</label>
        </div>

        <div class="form__div__button" style="float: center;">
            <a class="form__button" [routerLink]="['../step3']">Next step!<img class="icon" src="assets/forward-icon.png"></a>
        </div>
    </form>
</div>