<div class="loginBackground">
    <div class="progressContainer">
        <ul class="progress">
            <li class="active"></li>
            <li>{{ 'register.loginData' | translate }}</li>
            <li>{{ 'register.address' | translate }}</li>
            <li>{{ 'register.agreements' | translate }}</li>
        </ul>
    </div>
    <p class="register-title">{{ 'register.title' | translate }}
    </p>
    <form [formGroup]="form" autocomplete="off">
        <div class="form__div">
            <input type="text" class="form__input" formControlName="email" placeholder=" ">
            <label for="email" class="form__label1">E-mail</label>
        </div>

        <div class="form__div">
            <input type="password" class="form__input" formControlName="password" placeholder=" ">
            <label for="password" class="form__label1">{{ 'register.password' | translate }}</label>
        </div>

        <div class="form__div">
            <input type="password" class="form__input" formControlName="repeatPassword" placeholder=" ">
            <label for="repeatPassword" class="form__label1">{{ 'register.repeatPassword' | translate }}</label>
        </div>

        <div class="form__div__button" style="float: center;">
            <a class="form__button" (click)="next(3)">{{ 'register.nextStep' | translate }}</a>
        </div>
    </form>
</div>