<div class="loginBackground">
    <div class="progressContainer">
        <ul class="progress">
            <li class="active"></li>
            <li>{{ 'register.loginData' | translate }}</li>
            <li>{{ 'register.address' | translate }}</li>
            <li>{{ 'register.agreements' | translate }}</li>
        </ul>
    </div>
    <p class="register-title">{{ 'register.title' | translate }}
    </p>
    <form>
        <div class="form__div">
            <input type="text" class="form__input" placeholder=" ">
            <label for="" class="form__label">E-mail</label>
        </div>

        <div class="form__div">
            <input type="password" class="form__input" placeholder=" ">
            <label for="" class="form__label">{{ 'register.password' | translate }}</label>
        </div>

        <div class="form__div">
            <input type="password" class="form__input" placeholder=" ">
            <label for="" class="form__label">{{ 'register.repeatPassword' | translate }}</label>
        </div>

        <div class="form__div__button" style="float: center;">
            <a class="form__button" [routerLink]="['../step3']">{{ 'register.nextStep' | translate }}<img class="icon" src="assets/forward-icon.png"></a>
        </div>
    </form>
</div>