<h4 class="cardLines">
    <span class="cardTextInLines" *ngIf="isItEditing; else creating">Edit producer</span>
    <ng-template #creating>
        <span class="cardTextInLines">New producer</span>
    </ng-template>
</h4>

<form [formGroup]="form">
    <div class="form__div">
        <input type="text" class="form__input" formControlName="name" placeholder=" ">
        <label for="name" class="form__label">Name</label>
    </div>

    <div class="form__div">
        <input #countryInput type="text" class="form__input" formControlName="country" placeholder=" ">
        <label for="country" class="form__label">Country</label>
        <app-filtered-dropdown *ngIf="isCountriesLoaded" [inputElement]="countryInput" [list]="countryList" (selectIdEvent)="selectCountry($event)"></app-filtered-dropdown>
    </div>

    <div class="formButtonContainer">
        <div class="buttonBase buttonText buttonColor formButton" (click)="submit()">
            Submit
        </div>
        <div class="buttonBase buttonText buttonWhite formButton" (click)="close()">
            Cancel
        </div>
    </div>
</form>