<app-navbar></app-navbar>

<div style="display: flex;flex-direction: column; justify-content: center; align-items: center;">
    <div style="display: flex;margin-bottom: 10px; margin-top: 60px;">
        <div class="basicDiv" style="padding: 20px;">
            <div class="photoContainer">
                <img src="{{apiUrl}}/image/product-thumbnail/{{product.productId}}">
            </div>
        </div>
        <div class="basicDiv" style="width: 394px;margin-right: 0;">
            <h4 class="cardLines"><span class="cardTextInLines">{{product.name}}</span></h4>
            <div style="display: flex;flex-direction: column; align-items: center; justify-content: space-between;">
                <p class="shortInfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus feugiat hendrerit. </p>
                <h2>{{product.price.toFixed(2)}} zł</h2>
                <div class="buttonsContainer">
                    <div class="counter" style="margin-bottom:10px;">
                        <div class="buttonCounter" (click)="decreaseCartCount()">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 172 172" style=" fill:#000000;">
                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                                        stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                        stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                                        font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                        <path d="M0,172v-172h172v172z" fill="none"></path>
                                        <g fill="#fcb001">
                                            <path d="M30.96,82.56v6.88h110.08v-6.88z"></path>
                                        </g>
                                    </g>
                                </svg>
                        </div>
                        <p class="counterNumber">{{cartCount}}</p>
                        <div class="buttonCounter" (click)="increaseCartCount()">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 172 172" style=" fill:#000000;">
                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                                        stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                        stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                                        font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                        <path d="M0,172v-172h172v172z" fill="none"></path>
                                        <g fill="#fcb001">
                                            <path
                                                d="M82.56,30.96v51.6h-51.6v6.88h51.6v51.6h6.88v-51.6h51.6v-6.88h-51.6v-51.6z">
                                            </path>
                                        </g>
                                    </g>
                                </svg>
                        </div>
                    </div>
                    <div class="productButton">
                        <p class="productButtonText" (click)="addProductToCart()">
                            {{'product.details.addToCart' | translate}}
                        </p>
                    </div>
                </div>
                <div style="width: 55%;">
                    <div class="bottomInfoContainer">
                        <div class="infoBottom">
                            <p class="shortInfoDescription bottomInfo">{{'product.details.availability' | translate}}: </p>
                        </div>
                        <div class="infoBottom" *ngIf="product.warehouseQuantity == 0">
                            <p class="shortInfo bottomInfo">{{'product.details.noAvailable' | translate}}</p>
                            <div class="grayDot"></div>
                        </div>
                        <div class="infoBottom" *ngIf="product.warehouseQuantity <= 20 && product.warehouseQuantity > 0">
                            <p class="shortInfo bottomInfo">{{'product.details.lowAvailability' | translate}}</p>
                            <div class="redDot"></div>
                        </div>
                        <div class="infoBottom" *ngIf="product.warehouseQuantity > 20 && product.warehouseQuantity <=40">
                            <p class="shortInfo bottomInfo">{{'product.details.mediumAvailability' | translate}}</p>
                            <div class="orangeDot"></div>
                        </div>
                        <div class="infoBottom" *ngIf="product.warehouseQuantity > 40">
                            <p class="shortInfo bottomInfo">{{'product.details.highAvailability' | translate}}</p>
                            <div class="greenDot"></div>
                        </div>
                    </div>

                    <div class="infoBottom" style="justify-content: center;">
                        <p class="shortInfoDescription bottomInfo">{{'product.details.producer' | translate}}:</p>
                        <p class="shortInfo bottomInfo" style="margin-left: 5px;">{{product.producerName}}</p>
                    </div>

                    <!-- <div class="infoBottom" style="justify-content: center;">
                        <p class="shortInfoDescription bottomInfo">Mass brutto:</p>
                        <p class="shortInfo bottomInfo" style="margin-left: 5px;">5kg</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="basicDiv" style="margin-right: 0;width: 800px;">
        <h4 class="cardLines"><span class="cardTextInLines">{{'product.details.productDescription' | translate}}</span></h4>
        <p class="productMainDescription" [innerHTML]="product.description">
        </p>
    </div>
</div>