<app-navbar></app-navbar>

<div class="container">
    <div class="column">
        <div class="basicDiv categoryDiv" style="width: 100px;height: 100px;">
            <div style="border-style: solid;">
                <img
                    src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-lollipop-sweet-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png" />
                <p>Lolipops</p>
            </div>
        </div>

        <div class="basicDiv categoryDiv" style="width: 100px;height: 100px;">
            <div style="border-style: solid;">
                <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-mochi-sweet-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png"/>
                <p>Mocchi</p>
            </div>
        </div>

    </div>
    <div class="column">
        <div class="basicDiv categoryDiv" style="width: 100px;height: 100px;">
            <div style="border-style: solid;">
                <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-jelly-beans-sweet-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png"/>
                <p>Jelly</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="basicDiv categoryDiv" style="width: 100px;height: 100px;">
            <div style="border-style: solid;">
                <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-snack-sweet-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png"/>
            <p>Snacks</p>
            </div>
        </div>
    </div>
</div>