<app-navbar></app-navbar>
<div class="descriptionContainer" style="margin-top: 20px;">
    <p class="descriptionText2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <p class="descriptionText2">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. </p>
</div>
<div class="container ">
    <div class="column">
        <div class="basicDiv categoryDiv">
            <div>
                <img
                    src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-lollipop-sweet-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png" />
                <p>{{'product.categories.lolipops' | translate}}</p>
            </div>
        </div>

        <div class="basicDiv categoryDiv">
            <div>
                <img
                    src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-mochi-sweet-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png" />
                <p>Mocchi</p>
            </div>
        </div>

    </div>

    <div class="column">
        <div class="basicDiv categoryDiv">
            <div>
                <img
                    src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-jelly-beans-sweet-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png" />
                <p>{{'product.categories.jelly' | translate}}</p>
            </div>
        </div>
        <div class="basicDiv categoryDiv">
            <div>
                <img
                    src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-soda-4th-july-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png" />
                <p>{{'product.categories.soda' | translate}}</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="basicDiv categoryDiv">
            <div>
                <img
                    src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-snack-sweet-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png" />
                <p>{{'product.categories.snacks' | translate}}</p>
            </div>
        </div>

        <div class="basicDiv categoryDiv">
            <div>
                <img
                    src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-soup-autumn-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png" />
                <p>{{'product.categories.noodles' | translate}}</p>
            </div>
        </div>

    </div>
</div>