.categoryDiv {
    cursor: pointer;
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 120px;
    height: 120px;
}

p {
    color: grey;
    margin-bottom: 0;
}

.containerr {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.column {
    display: block;
}

.descriptionContainer {
    text-align: center;
    color: gray;
    white-space: nowrap;
}

.descriptionText2 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 20px;
}
