<div class="loginBackground">
    <div class="progressContainer">
        <ul class="progress">
            <li>Language</li>
            <li>Login data</li>
            <li>Address</li>
            <li>Agreements</li>
        </ul>
    </div>
    <p class="register-title">Choose your language.</p>
    <p class="register-title">Don't worry You can change it later!</p>
    <div class="flagContainer">
        <img class="flag" src="https://img.icons8.com/color/96/000000/poland-circular.png" />
        <img class="flag" style="border-color: var(--accent-color); border-width: 4px;"
            src="https://img.icons8.com/color/96/000000/great-britain-circular.png" />
    </div>
    <div class="form__div__button">
        <a class="form__button" [routerLink]="['step2']">Next step!<img class="signUpWithLogo"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAW0lEQVRIie2UsQ2AMAwEL0zGNqwTKpg2TwFFukQRHymSr/efZL0NQQAgKUlKI7NbTziQgWtU0hLskopeTpfkqCR3SH6VNFs0FeuKlg73Htr3h7KtlpXEEx6szwN1+MFA3YH5WQAAAABJRU5ErkJggg=="></a>
    </div>
</div>