<div>
  <div class="lineTop"></div>
  <div class="triangle" style="border-style: solid;"></div>
  <div class="background">
    <div>
      <input type="radio" id="huey" name="drone" value="huey" checked>
      <label for="huey">Dostawa zwykla - 15zl</label>
    </div>

    <div>
      <input type="radio" id="dewey" name="drone" value="dewey">
      <label for="dewey">Dostawa Express - 100zl</label>
    </div>

    <div>
      <input type="radio" id="louie" name="drone" value="louie">
      <label for="louie">Kopanie paczki - 2137 zl</label>
    </div>
  </div>
  <div class="lineBottom"></div>
</div>