.background {
    background-color: whitesmoke;
    width: 100%;
    padding: 10px 0 10px 0;
    margin-top: -20px;
    text-align: left;
}

.triangle {
    background: white;
    border: 1px solid var(--accent-color);
    border-width: 0 0 1px 1px;
    transform: rotate(-45deg);
    width: 15px;
    height: 15px;
    top: -8px;
    display: inline-block;
    position: relative;
}

.lineBottom {
    border-top: 1px solid var(--accent-color);
}

.lineTop {
    margin-top: 10px;
    border-bottom: 1px solid var(--accent-color);
}

label {
    font-size: small;
    color: var(--accent-color);
    margin-left: 5px;
}