<h4 class="cardLines"><span class="cardTextInLines">{{'admin.discount.create.newDiscount' | translate}}</span></h4>

<form>
    <div class="form__div">
        <input type="text" class="form__input" formControlName="name" placeholder=" ">
        <label for="name" class="form__label">{{'admin.discount.create.name' | translate}}</label>
    </div>

    <div class="form__div">
        <input type="text" class="form__input" formControlName="description" placeholder=" ">
        <label for="description" class="form__label">{{'admin.discount.create.percent' | translate}}</label>
    </div>

    <div class="form__div">
        <input type="text" class="form__input" formControlName="description" placeholder=" ">
        <label for="description" class="form__label">{{'admin.discount.create.endDate' | translate}}</label>
    </div>

    <div class="formButtonContainer">
        <div class="buttonBase buttonText buttonColor formButton">
            {{'admin.discount.create.create' | translate}}
        </div>
        <div class="buttonBase buttonText buttonWhite formButton" (click)="cancel()">
            {{'admin.discount.create.cancel' | translate}}
        </div>
    </div>
</form>