.changeCountButton {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: var(--accent-color);
    background-color: white;
    border-color: var(--accent-color);
    border-width: 1px;
    border-style: solid;
    align-self: center;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 16px;
    padding: 0px;
    line-height: 0;
}