<div style="padding: 0; padding-left: 0; display: flex; align-items: center;">
    <div class="cartProduct">
        <p class="cartProductName">{{item.productName}}</p>
        <h3 class="cartProductLine"></h3>
        <div style="display: flex; justify-content: center;">
            <div class="descriptionDiv">
                <p class="cartDescriptionText">Count:&nbsp;</p>
                <button class="changeCountButton" (click)="subtractOneProduct()">-</button>
                <p class="cartDescriptionVar">{{item.count}}</p>
                <button class="changeCountButton" (click)="addOneProduct()">+</button>
            </div>
            <div class="descriptionDiv">
                <p class="cartDescriptionText">Price per item:&nbsp;</p>
                <p class="cartDescriptionVar">{{item.pricePerItem | number:'1.2'}} &nbsp;</p>
                <p class="cartDescriptionText">zł</p>
            </div>
        </div>
    </div>
    <div class="cartPriceForItemsDiv">
        <p class="cartDescriptionVar" style="font-size: 15px;align-items: center;">{{item.price | number:'1.2'}} &nbsp;</p>
        <p class="cartDescriptionText" style="font-size: 15px;">zł</p>
    </div>
    <div class="cartDeleteItem" (click)="removeProduct()">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 172 172" style=" fill:#000000;margin-top: 2px;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                text-anchor="none" style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#df1717">
                    <path
                        d="M26.5525,21.6075l-4.945,4.945l59.4475,59.4475l-59.4475,59.4475l4.945,4.945l59.4475,-59.4475l59.4475,59.4475l4.945,-4.945l-59.4475,-59.4475l59.4475,-59.4475l-4.945,-4.945l-59.4475,59.4475z">
                    </path>
                </g>
            </g>
        </svg>
    </div>
</div>