<h1>{{'admin.product.list.title' | translate}}</h1>

<a [routerLink]="['/admin/products/new-product']">{{'admin.product.list.addNewBtn' | translate}}</a>

<div>
    <table>
        <tr>
            <th>{{'admin.product.list.productName' | translate}}</th>
            <th>{{'admin.product.list.productPrice' | translate}}</th>
            <th>{{'admin.product.list.productCount' | translate}}</th>
        </tr>
        <tr *ngFor='let product of products'>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.warehouseQuantity}}</td>
        </tr>
    </table>
</div>