html {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

 :root {
    /*===== Colores =====*/
    --main-color: #DF002D;
    --accent-color: #FCB001;
    --body-color: white;
    --background-color: whitesmoke;
    --text-color: grey;
}

.form__container {
    border-radius: 25px;
    width: auto;
    height: auto;
    background-color: var(--body-color);
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: var(--accent-color);
}


/*===== FORM =====*/

.form__title {
    font-weight: 200;
    color: var(--text-color);
}

.form__input {
    position: relative;
    width: 200px;
    color: gray;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 1px;
    border-color: var(--accent-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.form__inputSmall {
    position: relative;
    width: 80px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--accent-color);
    border-radius: .5rem;
    display: flex;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
    color: gray;
}

.form__div {
    position: relative;
    height: 48px;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__divSmall {
    position: relative;
    height: 48px;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.form__div_a {
    position: relative;
    height: 20px;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    margin-top: .25rem;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.form__div__button {
    position: relative;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__label {
    position: absolute;
    left: 7px;
    top: 1rem;
    padding: 0 .25rem;
    background-color: var(--body-color);
    color: grey;
    transition: .3s;
}

.form__labelSmall {
    position: absolute;
    left: 7px;
    top: 1rem;
    padding: 0 .25rem;
    background-color: var(--body-color);
    transition: .3s;
    color: gray;
}

.form__button {
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--accent-color);
    color: var(--body-color);
    border-radius: .5rem;
    cursor: pointer;
    text-decoration: none;
    transition: .3s;
}

.form__input:focus+.form__label {
    top: -.5rem;
    left: 7px;
    color: var(--accent-color);
    font-weight: 500;
    z-index: 11;
}

.form__input:not(:placeholder-shown).form__input:not(:focus)+.form__label {
    top: -.5rem;
    left: 7px;
    font-weight: 500;
    z-index: 11;
}

.form__input:focus {
    border-style: solid;
    border-width: 1.5px;
    border-color: var(--accent-color);
}

.form__a {
    color: var(--accent-color);
}

.lines {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--accent-color);
    line-height: 0.1em;
}

.textInLines {
    background: #fff;
    padding: 0 10px;
    font-size: 14px;
    color: var(--accent-color);
}

.signUpWithBox {
    background: white;
    border-radius: 2rem;
    padding: .5rem;
    width: 90%;
    padding-left: 100rm;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: .75rem;
}

.signUpWithText {
    color: black;
    display: inline-block;
    vertical-align: text-top;
    line-height: normal;
    font-size: 17px;
    background: white;
}

.signUpWithLogo {
    fill: #000000;
    vertical-align: bottom;
}

.formButtonContainer {
    position: relative;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .75rem;
}

.formButton {
    width: 3rem;
}