<div class="loginBackground">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form__div">
            <input type="text" class="form__input" formControlName="name" placeholder=" ">
            <label for="name" class="form__label">Name</label>
        </div>

        <div class="form__div">
            <input type="text" class="form__input" formControlName="description" placeholder=" ">
            <label for="description" class="form__label">Description</label>
        </div>

        <div class="form__div">
            <input type="text" class="form__input" formControlName="price" placeholder=" ">
            <label for="price" class="form__label">Price</label>
        </div>

        <div class="form__div">
            <input type="text" class="form__input" formControlName="warehouseQuantity" placeholder=" ">
            <label for="warehouseQuantity" class="form__label">WarehouseQuantity</label>
        </div>

        <!-- categories -->
        <div class="form__div">
            <input #categoryInput type="text" class="form__input" formControlName="category" placeholder=" ">
            <label for="category" class="form__label">Category name</label>
        </div>
        <app-filtered-dropdown [inputElement]="categoryInput" [list]="categoryList" (selectIdEvent)="selectCategory($event)"></app-filtered-dropdown>

        <button class="form__button" type="submit">Add product</button>
    </form>
</div>