<h4 class="cardLines"><span class="cardTextInLines">{{'admin.user.voucher.newVoucher' | translate}}</span></h4>

<form>
    <div class="form__div">
        <input type="text" class="form__input" formControlName="name" placeholder=" ">
        <label for="name" class="form__label">{{'admin.user.voucher.code' | translate}}</label>
    </div>

    <div class="form__div">
        <input type="text" class="form__input" formControlName="description" placeholder=" ">
        <label for="description" class="form__label">{{'admin.user.voucher.price' | translate}}</label>
    </div>

    <div class="form__div">
        <input type="text" class="form__input" formControlName="description" placeholder=" ">
        <label for="description" class="form__label">{{'admin.user.voucher.endDate' | translate}}</label>
    </div>

    <div class="formButtonContainer">
        <div class="buttonBase buttonText buttonColor formButton">
            {{'admin.user.voucher.create' | translate}}
        </div>
        <div class="buttonBase buttonText buttonWhite formButton">
            {{'admin.user.voucher.cancel' | translate}}
        </div>
    </div>
</form>
