<div style="padding: 0; padding-left: 0; display: flex; align-items: center; justify-content: center;">
    <div class="cartProduct">
        <p class="cartProductName">Nazwa</p>
        <h3 class="cartProductLine"></h3>
        <div style="display: flex; justify-content: center;">
            <div class="descriptionDiv" style="border-style: solid;">
                <p class="cartDescriptionText">Count:&nbsp;</p>
                <p class="cartDescriptionVar">3</p>
            </div>
            <div class="descriptionDiv last">
                <p class="cartDescriptionText">Price:&nbsp;</p>
                <p class="cartDescriptionVar">30.00 &nbsp;</p>
                <p class="cartDescriptionText">zł</p>
            </div>
        </div>
    </div>
</div>
