<div class="loginBackground">
    <div class="progressContainer">
        <ul class="progress">
            <li class="active">{{ 'register.language' | translate }}</li>
            <li class="active">{{ 'register.loginData' | translate }}</li>
            <li class="active">{{ 'register.address' | translate }}</li>
            <li>{{ 'register.agreements' | translate }}</li>
        </ul>
    </div>
    <p class="register-title">{{ 'register.acceptAgreements' | translate }}</p>
    <div class="agreements">
        <div class="checkbox">
            <input type="checkbox" id="Agreement 1" class="" name="Agreement 1" [checked]="agreements[0]" (change)="changeAgreement(0)">
            <label for="Agreement 1">{{ 'register.agreement1' | translate }}</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" id="Agreement 2" name="Agreement 2" [checked]="agreements[1]" (change)="changeAgreement(1)">
            <label for="Agreement 2">{{ 'register.agreement2' | translate }}</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" id="Agreement 3" name="Agreement 3" [checked]="agreements[2]" (change)="changeAgreement(2)">
            <label for="Agreement 3">{{ 'register.agreement3' | translate }}</label>
        </div>
    </div>
    <p class="register-title" style="padding-top: 15px;">{{ 'register.signNewsletter' | translate }}</p>
    <div class="agreements">
        <div class="checkbox">
            <input type="checkbox" id="newsletter" class="" name="newsletter" [checked]="newsletterOn" (change)="changeNewsletterOn()">
            <label for="newsletter">Newsletter</label>
        </div>
    </div>
    <div class="form__div__button">
        <a class="form__button" (click)="submit()">{{ 'register.nextStep' | translate }}</a>
    </div>
</div>