<div class="orderContainer" style="padding-top: 5px;padding-bottom: 5px;">
    <h4 class="orderTitle">{{'admin.user.list.order' | translate}}  #{{item.orderId}}</h4>
    <h2 class="lines" style="padding-top: 0;margin-top: 0;margin-bottom: 5px;"></h2>
    <div class="test">
        <div style="text-align: left;">
            <h5>{{'admin.user.list.orderDate' | translate}}</h5>
            <p class="orderDescription">{{item.date}}</p>
        </div>
        <div>
            <h5>{{'admin.user.list.price' | translate}}</h5>
            <p class="orderDescription">150.47 zł</p>
        </div>
        <div style="text-align: right;">
            <h5>{{'admin.user.list.status' | translate}}</h5>
            <p class="orderDescription">{{item.status}}</p>
        </div>
    </div>
</div>