<h3 class="cartLine"><span class="cartTitle">{{ 'home.cart.name' | translate }}</span></h3>
<!-- <p *ngIf="count==0" class="emptyCart">
    {{ 'home.cart.empty' | translate }} :(
</p>
<p *ngIf="count==0" class="emptyCart">
    {{ 'home.cart.engage' | translate }}
</p> -->

<div>
    <app-cart-element *ngFor="let product of products" [item]="product"></app-cart-element>

    <h3 class="cartLine" style="margin-bottom: 15px;margin-top: 20px;"><span class="cartTitle">SUMMARY</span></h3>

    <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 15px;">
        <p class="cartDescriptionText" style="font-size: 15px;">You will pay &nbsp;</p>
        <p class="cartDescriptionVar" style="font-size: 15px;align-items: center;">{{sum}} &nbsp;</p>
        <p class="cartDescriptionText" style="font-size: 15px;">zł for Your order.</p>
    </div>

    <div style="display: block;padding: 0 20px;">
        <div class="cartDetails">
            <p class="cartDetailsText">
                Cart details
            </p>
        </div>
        <div class="cartCheckout" [routerLink]="['../cart/checkout']">
            <p class="cartCheckoutText">
                Cart checkout
            </p>
        </div>
    </div>
</div>