.svg {
    fill: white;
    stroke: #FCB001;
    stroke-width: 20;
}

.svg:hover {
    fill: #FCB001;
    transition: 0.6s;
    cursor: pointer;
}

.descriptionContainer {
    text-align: center;
    color: gray;
    white-space: nowrap;
}

.descriptionHeader {
    font-size: 48px;
}

.descriptionText {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 28px;
}

.mapContainer {
    margin-top: 40px;
}