html {
    background-color: whitesmoke
}

:root {
    /*===== Colores =====*/
    --main-color: #DF002D;
    --accent-color: #FCB001;
    --body-color: white;
    --background-color: whitesmoke;
    --text-color: grey;
}

.svg {
    fill: white;
    stroke: #FCB001;
    stroke-width: 20;
}

.svg:hover {
    fill: #FCB001;
    transition: 0.6s;
    cursor: pointer;
}

.mainButton {
    background-color: white;
    border-style: solid;
    width: 40px;
    height: 40px;
    border-color: var(--accent-color);
    border-width: 1px;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
}

.icon {
    position: relative;
    margin-top: 7px;
}