<div class="basicDiv" style="width: 300px;">
    <h4 class="lines"><span class="textInLines">{{'admin.dashboard.statisticsHeader' | translate}}</span></h4>
    <p>Number of views</p>
    <p>Number of users</p>
    <p>Number of users signed to newsletter</p>
    <p>Number of product</p>
    <p>Number of producents</p>
    <p>Number of completed orders</p>
    <p>Number of all orders</p>
    <p>Avarage order price</p>
    <h4 class="lines"><span class="textInLines">{{'admin.dashboard.languageHeader' | translate}}</span></h4>
    <app-change-language></app-change-language>
</div>