<h4 class="cardLines"><span class="cardTextInLines">{{'admin.dashboard.statisticsHeader' | translate}}</span></h4>

<p>{{'admin.statistics.viewsNumber' | translate}}</p>
<p>{{'admin.statistics.usersNumber' | translate}}</p>
<p>{{'admin.statistics.usersNewsletterNumber' | translate}}</p>
<p>{{'admin.statistics.productNumber' | translate}}</p>
<p>{{'admin.statistics.producentNumber' | translate}}</p>
<p>{{'admin.statistics.cmpltOrdersNumber' | translate}}</p>
<p>{{'admin.statistics.allOrdersNumber' | translate}}</p>
<p>{{'admin.statistics.averageOrderPrice' | translate}}</p>
<h4 class="cardLines"><span class="cardTextInLines">{{'admin.dashboard.languageHeader' | translate}}</span></h4>
<app-change-language></app-change-language>