<div class="bestsellerContainer" (mouseenter)="showButton()" (mouseleave)="hideButton()" [ngClass]="cartButton ? 'bestsellerContainer containerOnHover' : 'bestsellerContainer'">
    <img src="assets/420.jpg">
    <div class="productDescription">
        <p class="productText">
            {{item.name}}
        </p>
        <p class="productText">
            <label>{{item.price}} zł/</label>
            <label *ngIf="item.isPricePerItem; else pricePerKilo">szt</label>
            <ng-template #pricePerKilo>kg</ng-template>
        </p>

        <div *ngIf="cartButton" class="cartCheckout" (click)="onCheckout()">
            <p class="cartCheckoutText">
                Cart checkout
            </p>
        </div>
    </div>
</div>