<div class="loginBackground">
    <div class="progressContainer">
        <ul class="progress">
            <li class="active">Language</li>
            <li class="active">Login data</li>
            <li>Address</li>
            <li>Agreements</li>
        </ul>
    </div>
    <p class="register-title">Add Your first address</p>
    <form>
        <div class="form__div">
            <input type="text" class="form__input" placeholder=" ">
            <label for="" class="form__label">Name</label>
        </div>

        <div class="form__div">
            <input type="text" class="form__input" placeholder=" ">
            <label for="" class="form__label">Surname</label>
        </div>

        <div style="padding-left: 2.5rem;padding-right: 2.5rem;">
            <div class="form__divSmall" style="margin-right: 2px;">
                <input type="text" class="form__inputSmall" style="width: 160px;" placeholder=" ">
                <label for="" class="form__labelSmall">Street</label>
            </div>

            <div class="form__divSmall">
                <input type="text" class="form__inputSmall" style="width: 60px;" placeholder=" ">
                <label for="" class="form__labelSmall">House No</label>
            </div>
        </div>

        <div>
            <div class="form__divSmall">
                <input type="text" class="form__inputSmall" style="width: 50px; margin-right: 2px;" placeholder=" ">
                <label for="" class="form__labelSmall">Code</label>
            </div>

            <div class="form__divSmall">
                <input type="text" class="form__inputSmall" style="width: 120px;" placeholder=" ">
                <label for="" class="form__labelSmall">City</label>
            </div>
        </div>

        <div class="form__div__button" style="float: center;">
            <a class="form__button" [routerLink]="['../step4']">Next step!<img class="icon" src="assets/forward-icon.png"></a>
        </div>
    </form>
</div>