<div class="loginBackground">
    <div class="progressContainer">
        <ul class="progress">
            <li class="active">{{ 'register.language' | translate }}</li>
            <li class="active">{{ 'register.loginData' | translate }}</li>
            <li>{{ 'register.address' | translate }}</li>
            <li>{{ 'register.agreements' | translate }}</li>
        </ul>
    </div>
    <p class="register-title">{{ 'register.addFirstAddress' | translate }}</p>
    <form>
        <div class="form__div">
            <input type="text" class="form__input" placeholder=" ">
            <label for="" class="form__label">{{ 'register.name' | translate }}</label>
        </div>

        <div class="form__div">
            <input type="text" class="form__input" placeholder=" ">
            <label for="" class="form__label">{{ 'register.surname' | translate }}</label>
        </div>

        <div style="padding-left: 2.5rem;padding-right: 2.5rem;">
            <div class="form__divSmall" style="margin-right: 2px;">
                <input type="text" class="form__inputSmall" style="width: 160px;" placeholder=" ">
                <label for="" class="form__labelSmall">{{ 'register.street' | translate }}</label>
            </div>

            <div class="form__divSmall">
                <input type="text" class="form__inputSmall" style="width: 60px;" placeholder=" ">
                <label for="" class="form__labelSmall">{{ 'register.houseNo' | translate }}</label>
            </div>
        </div>

        <div>
            <div class="form__divSmall">
                <input type="text" class="form__inputSmall" style="width: 50px; margin-right: 2px;" placeholder=" ">
                <label for="" class="form__labelSmall">{{ 'register.code' | translate }}</label>
            </div>

            <div class="form__divSmall">
                <input type="text" class="form__inputSmall" style="width: 120px;" placeholder=" ">
                <label for="" class="form__labelSmall">{{ 'register.city' | translate }}</label>
            </div>
        </div>

        <div class="form__div__button" style="float: center;">
            <a class="form__button" [routerLink]="['../step4']">{{ 'register.nextStep' | translate }}<img class="icon" src="assets/forward-icon.png"></a>
        </div>
    </form>
</div>