<div class="loginBackground">
    <div class="progressContainer">
        <ul class="progress">
            <li class="active">{{ 'register.language' | translate }}</li>
            <li class="active">{{ 'register.loginData' | translate }}</li>
            <li>{{ 'register.address' | translate }}</li>
            <li>{{ 'register.agreements' | translate }}</li>
        </ul>
    </div>
    <p class="register-title">{{ 'register.addFirstAddress' | translate }}</p>
    <form [formGroup]="form">
        <div class="form__div">
            <input type="text" class="form__input" formControlName="name" placeholder=" ">
            <label for="name" class="form__label1">{{ 'register.name' | translate }}</label>
        </div>

        <div class="form__div">
            <input type="text" class="form__input" formControlName="surname" placeholder=" ">
            <label for="surname" class="form__label1">{{ 'register.surname' | translate }}</label>
        </div>

        <div class="form__div">
            <input type="text" class="form__input" formControlName="street" placeholder=" ">
            <label for="street" class="form__label1">Street</label>
        </div>

        <div style="padding-left: 2.5rem;padding-right: 2.5rem;">
            <div class="form__divSmall" style="margin-right: 2px;">
                <input type="text" class="form__inputSmall" style="width: 110px;" formControlName="houseNumber" placeholder=" ">
                <label for="houseNumber" class="form__labelSmall">{{ 'register.street' | translate }}</label>
            </div>

            <div class="form__divSmall">
                <input type="text" class="form__inputSmall" style="width: 110px;" formControlName="apartmentNumber" placeholder=" ">
                <label for="apartmentNumber" class="form__labelSmall">{{ 'register.houseNo' | translate }}</label>
            </div>
        </div>

        <div>
            <div class="form__divSmall">
                <input type="text" class="form__inputSmall" style="width: 110px; margin-right: 2px;" formControlName="code" placeholder=" ">
                <label for="code" class="form__labelSmall">{{ 'register.code' | translate }}</label>
            </div>

            <div class="form__divSmall">
                <input type="text" class="form__inputSmall" style="width: 110px;" formControlName="city" placeholder=" ">
                <label for="city" class="form__labelSmall">{{ 'register.city' | translate }}</label>
            </div>
        </div>

        <div class="form__div">
            <input type="text" class="form__input" formControlName="country" placeholder=" ">
            <label for="country" class="form__label1">Country</label>
        </div>

        <div class="form__div__button" style="float: center;">
            <a class="form__button" (click)="next(4)">{{ 'register.nextStep' | translate }}</a>
        </div>
    </form>
</div>