<app-navbar></app-navbar>

<div style="margin-top: 60px;">
    <h1 class="mainLines"><span class="textInMainLines">PRODUCT LIST</span></h1>
    <div style="text-align: center;">
        <p class="homeDescriptionText">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <p class="homeDescriptionText">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
</div>

<div class="mainContainer">
    <div style="width: 30%;border-style: solid;margin-right: 10px;" class="basicDiv">
        <p>WIP</p>
        <p>WIP</p>
        <p>WIP</p>
        <p>WIP</p>
        <p>WIP</p>
    </div>

    <div style="width: 60%;">
        <div class="listElement">
            <img src="assets/toffifee.png">
            <h2 style="margin-left: auto;margin-right: auto;">Name</h2>
            <h2 class="price" style="margin-left: auto;margin-right: auto;">Cena</h2>
        </div>
    </div>
</div>