<swiper [config]="config">
    <ng-template swiperSlide>
        <app-slide></app-slide>
    </ng-template>

    <ng-template swiperSlide>
        <div class="bestsellerContainer">
            <img src="assets/piwo.jpg">
            <div class="productDescription">
                <p class="productText">
                    Browarek taki dobry
                </p>
                <p class="productText">
                    1.20zł/litr
                </p>

                <div class="cartCheckout">
                    <p class="cartCheckoutText">
                        Cart checkout
                    </p>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="bestsellerContainer">
            <img src="assets/maslo.jpeg">
            <div class="productDescription">
                <p class="productText">
                    Masło
                </p>
                <p class="productText">
                    1944 zł/kg
                </p>

                <div class="cartCheckout">
                    <p class="cartCheckoutText">
                        Cart checkout
                    </p>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template swiperSlide>
        <div class="bestsellerContainer">
            <img src="assets/piwo.jpg">
            <div class="productDescription">
                <p class="productText">
                    Browarek taki dobry
                </p>
                <p class="productText">
                    1.20zł/litr
                </p>

                <div class="cartCheckout">
                    <p class="cartCheckoutText">
                        Cart checkout
                    </p>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <app-slide></app-slide>
    </ng-template>

    <ng-template swiperSlide>
        <div class="bestsellerContainer">
            <img src="assets/piwo.jpg">
            <div class="productDescription">
                <p class="productText">
                    Browarek taki dobry
                </p>
                <p class="productText">
                    1.20zł/litr
                </p>

                <div class="cartCheckout">
                    <p class="cartCheckoutText">
                        Cart checkout
                    </p>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template swiperSlide>
        <app-slide></app-slide>
    </ng-template>

    <ng-template swiperSlide>
        <div class="bestsellerContainer">
            <img src="assets/piwo.jpg">
            <div class="productDescription">
                <p class="productText">
                    Browarek taki dobry
                </p>
                <p class="productText">
                    1.20zł/litr
                </p>

                <div class="cartCheckout">
                    <p class="cartCheckoutText">
                        Cart checkout
                    </p>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <app-slide></app-slide>
    </ng-template>

    <ng-template swiperSlide>
        <div class="bestsellerContainer">
            <img src="assets/piwo.jpg">
            <div class="productDescription">
                <p class="productText">
                    Browarek taki dobry
                </p>
                <p class="productText">
                    1.20zł/litr
                </p>

                <div class="cartCheckout">
                    <p class="cartCheckoutText">
                        Cart checkout
                    </p>
                </div>
            </div>
        </div>
    </ng-template>
</swiper>
