<div class="loginBackground">
    <div class="progressContainer">
        <ul class="progress">
            <li class="active">Dane logowania</li>
            <li>Język</li>
            <li>Zgody</li>
        </ul>
    </div>
    <p>Please enter your e-mail and password
    </p>
    <form>
        <div class="form__div">
            <input type="text" class="form__input" placeholder=" ">
            <label for="" class="form__label">E-mail</label>
        </div>

        <div class="form__div">
            <input type="password" class="form__input" placeholder=" ">
            <label for="" class="form__label">Password</label>
        </div>

        <div class="form__div">
            <input type="password" class="form__input" placeholder=" ">
            <label for="" class="form__label">Repeat password</label>
        </div>

        <div class="form__div__button" style="float: center;">
            <a class="form__button" href="register2.html">Next step!<img class="signUpWithLogo"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAW0lEQVRIie2UsQ2AMAwEL0zGNqwTKpg2TwFFukQRHymSr/efZL0NQQAgKUlKI7NbTziQgWtU0hLskopeTpfkqCR3SH6VNFs0FeuKlg73Htr3h7KtlpXEEx6szwN1+MFA3YH5WQAAAABJRU5ErkJggg=="></a>
        </div>
    </form>
</div>