<h4 class="cardLines"><span class="cardTextInLines">New discount</span></h4>

<form>
    <div class="form__div">
        <input type="text" class="form__input" formControlName="name" placeholder=" ">
        <label for="name" class="form__label">Name</label>
    </div>

    <div class="form__div">
        <input type="text" class="form__input" formControlName="description" placeholder=" ">
        <label for="description" class="form__label">Percent</label>
    </div>

    <div class="form__div">
        <input type="text" class="form__input" formControlName="description" placeholder=" ">
        <label for="description" class="form__label">End date</label>
    </div>

    <div class="formButtonContainer">
        <div class="buttonBase buttonText buttonColor formButton">
            Create
        </div>
        <div class="buttonBase buttonText buttonWhite formButton" (click)="cancel()">
            Cancel
        </div>
    </div>
</form>