<h4 class="cardLines"><span class="cardTextInLines">User info</span></h4>
<p>ID</p>
<p>E-mail</p>
<p>Name</p>
<p>Surname</p>
<p>Register date</p>
<p>Last order date</p>
<h4 class="cardLines"><span class="cardTextInLines">User orders</span></h4>

<div class="scrollableDiv">
    <div class="orderContainer">
        <h4 class="orderTitle">Order #213769</h4>
        <h2 class="lines" style="padding-top: 0;margin-top: 0;margin-bottom: 5px;"></h2>
        <div style="display: grid;grid-template-columns: 1fr 1fr 1fr;">
            <div>
                <h5>Order date</h5>
                <p class="orderDescription">15.11.2021</p>
            </div>
            <div>
                <h5>Price</h5>
                <p class="orderDescription">150.47 zł</p>
            </div>
            <div>
                <h5>Status</h5>
                <p class="orderDescription">Sent</p>
            </div>
        </div>
    </div>
    <div class="orderContainer">
        <h4 class="orderTitle">Order #213769</h4>
        <h2 class="lines" style="padding-top: 0;margin-top: 0;margin-bottom: 5px;"></h2>
        <div style="display: grid;grid-template-columns: 1fr 1fr 1fr;">
            <div>
                <h5>Order date</h5>
                <p class="orderDescription">15.11.2021</p>
            </div>
            <div>
                <h5>Price</h5>
                <p class="orderDescription">150.47 zł</p>
            </div>
            <div>
                <h5>Status</h5>
                <p class="orderDescription">Sent</p>
            </div>
        </div>
    </div>
    <div class="orderContainer">
        <h4 class="orderTitle">Order #213769</h4>
        <h2 class="lines" style="padding-top: 0;margin-top: 0;margin-bottom: 5px;"></h2>
        <div style="display: grid;grid-template-columns: 1fr 1fr 1fr;">
            <div>
                <h5>Order date</h5>
                <p class="orderDescription">15.11.2021</p>
            </div>
            <div>
                <h5>Price</h5>
                <p class="orderDescription">150.47 zł</p>
            </div>
            <div>
                <h5>Status</h5>
                <p class="orderDescription">Sent</p>
            </div>
        </div>
    </div>
    <div class="orderContainer">
        <h4 class="orderTitle">Order #213769</h4>
        <h2 class="lines" style="padding-top: 0;margin-top: 0;margin-bottom: 5px;"></h2>
        <div style="display: grid;grid-template-columns: 1fr 1fr 1fr;">
            <div>
                <h5>Order date</h5>
                <p class="orderDescription">15.11.2021</p>
            </div>
            <div>
                <h5>Price</h5>
                <p class="orderDescription">150.47 zł</p>
            </div>
            <div>
                <h5>Status</h5>
                <p class="orderDescription">Sent</p>
            </div>
        </div>
    </div>
</div>