<h4 class="cardLines"><span class="cardTextInLines">User info</span></h4>
<p>ID #{{itemName.userId}}</p>
<p>{{'admin.user.info.name' | translate}}: {{itemName.name}}</p>
<p>{{'admin.user.info.surname' | translate}}: {{itemName.surname}}</p>
<p>Email: {{itemName.email}}</p>
<p>{{'admin.user.info.registerDate' | translate}}</p>
<p>{{'admin.user.info.lastOrderDate' | translate}}</p>
<h4 class="cardLines"><span class="cardTextInLines">{{'admin.user.info.userOrders' | translate}}</span></h4>

<div class="scrollableDiv" style="height: 230px;">
    <app-order-list *ngFor='let order of orders' [item]="order"></app-order-list>
</div>