<div #dropdownList class="dropdown hide" id="dropdown">
    <div *ngIf="filteredList.length; else noItemsBlock">
        <option class="dropdown-element" *ngFor="let item of filteredList" value="{{item.value}}" (click)="selectItem(item)">{{item.text}}</option>
    </div>
    <ng-template #noItemsBlock>
        <div *ngIf="itemsNotFetched; else notFound">
            <option class="dropdown-error">Not found.</option>
        </div>
        <ng-template #notFound>
            <option class="dropdown-error">Not found items with search name.</option>
        </ng-template>
    </ng-template>
</div>